.navbar-default {
    background-color: #222222;
}

.navbar-collapse {
    background-color: #222222;
}

.dropdown-menu {
    background-color: #222222;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:hover, a:focus {
    background-color: #414141 !important;
}

.container-main {
    margin-top: 80px;
}

.container-main > div {
    margin-bottom: 20px;
}
